/* Basic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ensure that html and body occupy the entire height */
html, body, #root {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}